<h1> Welcome to your TODO app </h1>

<table>
  <thead>
    <tr>
      <th>Currents tasks</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add a new task', new_task_path %>
